@import url('https://fonts.googleapis.com/css?family=Roboto:100:300');
 
:root {
  --bkg-blue: #21D4FD;
  --bkg-pink: #B721FF;
  --progress-main: #FFA62B;
  --progress-back: #0000004f;
  --txt-main: #ffffff;
  --txt-shadow: #1010107f;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: center;
  height: 100vh;
  background-color: var(--bkg-blue);
  background-image: linear-gradient(25deg, var(--bkg-blue) 0%, var(--bkg-pink) 100%);
  margin:0;
}

h1 {
  font-weight: 100;
  font-size: 10vw;
  margin:0;
  padding:5vw;
  color: var(--txt-main);
  text-shadow: 0 0 1vw var(--txt-shadow);
  background-color: None;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 0%;
  position: relative;
  height: 95vh;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.image-list {
  display: grid;
  text-align: center;
  grid-template-columns:  repeat(auto-fit, minmax(9%, 1fr));
  grid-gap: 1vw;
  margin:auto;
  margin-left: 3vw;
  margin-right: 3vw;
  padding-top:5vw;
  padding-bottom:5vw;
}

.image-list img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}